/* General */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
     #029688 0px,
     #029688 15vh,
     #DBDBD4 15vh,
     #DBDBD4 100%
  );
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  background-color: transparent;
  width:4px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:16px;
}

/* Utility */
.flex{
  display: flex;
}

.direction-column{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.flex-center-center{
  align-items: center;
  justify-content: center;
}

.container{
  width: 1200px;
  min-width: 800px;
  height: 95%;
  background: white;
}

.template{
  display: none;
}

/* Sidebar */
#sidebar{
  width: 35%;
  height: 100%;
  flex-direction: column;
}

/* Sidebar --> Guest */
#guest{
  width: 100%;
  height: 60px;
  background-color: #EAEAEA;
  padding: 10px 15px;
  justify-content: space-between;
  flex-shrink: 1;
}

#guest img{
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px rgba(110,110,110,1);
}

#guest i{
  margin: 0 5px;
  cursor: pointer;
  color: #B1B1B1;
}

#guest i:hover{
  color: rgb(121, 121, 121);
}

/* Sidebar --> notify */
#notify{
  width: 100%;
  background-color: #8EDAFD;
  padding: 5px 20px;
  flex-shrink: 1;
  height: 65px;
}

#notify div:first-child{
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  margin: 10px 10px 10px 0;
  cursor: pointer;
}

#notify div:first-child i{
  color: #8EDAFD;
}

#notify div:last-child{
  flex-direction: column;
}

#notify span{
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 2px;
}

#notify a{
  display: block;
  font-size: 11px;
  color: #4F7485;
}

/* Sidebar --> search */
#search{
  background: #FAFAFA;
  height: 40px;
  flex-shrink: 1;
  padding: 5px;
}

#search .search_bar{
  width: 100%;
  background: white;
  border: 1px solid #EAEBEB;
  height: 30px;
}

#search .search_bar label{
  background: white;
  padding: 0 15px;
  color: #B1B1B1;
  cursor: pointer;
}

#search .search_bar input{
  border: none;
  width: 90%;
  height: 100%;
  padding: 0 5px;
  outline: none;
}

#search .search_bar input::placeholder{
  color: #B1B1B1;
  font-size: 12px;
}


#search .search_bar input:focus{
  border: 2px solid #6B9AF1;
}



/* Sidebar --> user */

#user{
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

#user .active{
  background: #E9EBEB;
}

.user_name{
  width: 100%;
  height: 65px;
  border-bottom: 1px solid hsl(0, 0%, 83%);
  padding: 0 20px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  position: relative;
}

.user_name:hover{
  background: #EAEBEB;
}

.user_name img{
 width: 45px;
 border-radius: 50%;
 margin-right: 15px;
}

.user_name > span{
  position: absolute;
  color: #B7B9BB;
  font-size: 12px;
  top: 15px;
  right: 10px;
  font-weight: 400;
 }
 

.user_name_text{
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #BCBEC0;
}

.user_name_text h5{
  font-size: 14px;
  color: black;
}

.user_name_text span{
  font-size: 13px;
  color: #BCBEC0;
}



/* Chat */
#chat{
  width: 65%;
  height: 100%;
  flex-direction: column;
}

#chat .ieri_oggi{
  display: inline;
}

#chat .data_time{
  display: inline;
}

/* Chat--> guest_chat */
#guest_chat{
  width: 100%;
  padding: 10px 15px;
  background-color: #EAEAEA;
  justify-content: space-between;
  border-left: 1px solid #D6D6D6;
  height: 60px;
  flex-shrink: 1;
}

#guest_chat img{
  width: 40px;
  border-radius: 50%;
  cursor: pointer; 
}

#guest_chat .last_access_info{
  height: 35px;
  margin-left: 10px; 
}

#guest_chat .last_access_info h5{
  color: black;
}

#guest_chat .last_access_info span{
  font-size: 12px;
  color: #6C7376;
}

#guest_chat i{
  margin: 0 6px;
  cursor: pointer;
  color: #B1B1B1;
}

#guest_chat i:hover{
  color: rgb(121, 121, 121);
}


/* Chat--> body_chat */
#body_chat{
  flex-grow: 1;
  overflow-y: auto;
  background-image: url("../img/mine.jpg");
  padding: 30px;
}

#body_chat li{
  width: 100%;
  display: flex;
}

#body_chat .sent{
  justify-content: flex-end;
}

#body_chat .received{
  justify-content: flex-start;
}

#body_chat .message{
  position: relative; 
  min-width: 50px;
  max-width: 55%;
  margin: 8px 0;
  padding: 25px 20px;
  font-size: 14px;
  border-radius: 10px ;
  overflow-wrap: break-word;
}

#body_chat .sent .message{
  background: #D5F9BA;
}

#body_chat .received .message{
  background: #fff;
}

#body_chat .message .data_time{
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
  color: #B6B9BB;
}

#body_chat i{
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 15px;
  color: transparent;
  transition: color 0.2s;
  cursor: pointer;
}

#body_chat .message:hover i{
  color: rgb(134, 134, 134);
}

#body_chat .sotto_menu{
  position: absolute;
  width: 160px;
  background: white;
  box-shadow: 0px 0px 3px 0px rgba(110,110,110,1);
  z-index: 1;
  display: none;
  margin-bottom: 20px;
}

#body_chat .hide_menu{
  display: block;
}
 

#body_chat .received .sotto_menu{
  top: 75%;
  left: 90%;
}

#body_chat .sent .sotto_menu{
  top: 75%;
  right: 0;
}

#body_chat .message .sotto_menu span{
  padding: 10px;
  cursor: pointer;
  color: grey;
  display: inline-block;
  user-select: none;
}

#body_chat .message .sotto_menu span:hover{
  color: black;
}

/* conversazioni */
#body_chat .right-messages{
  display: none;
} 

#body_chat .right-messages.active {
  display: block;
} 

/* Chat--> sending_chat */
#sending_chat{
  width: 100%;
  background: #F3EEEB;
  height: 55px;
  padding: 10px 0;
  flex-shrink: 1;
  align-items: center;
  display: flex;
}

#sending_chat .sending{
  width: 100%;
  justify-content: space-between;
}

#sending_chat .chat_emoticon{
  width: 10%;
  text-align: center;
}

#sending_chat .chat_field{
  width: 80%;
}

#sending_chat .chat_field input{
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: none;
  border-radius: 3px;
  outline: none;
}

#sending_chat .chat_field input:focus{
  border: 2px solid #6B9AF1;
}

#sending_chat .chat_send{
  width: 10%;
  text-align: center;
}

#sending_chat i{
  color: #6C7376;
  font-size: 22px;
  cursor: pointer;
}

#sending_chat i:hover{
  color: #535353;
}