/* General */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  background-image: linear-gradient(
     #029688 0px,
     #029688 15vh,
     #DBDBD4 15vh,
     #DBDBD4 100%
  );
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  background-color: transparent;
  width:4px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:16px;
}

/* Utility */
.flex{
  display: flex;
}

.direction-column{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.posted{
  justify-content: flex-end;
}

.received p{
  background-color: #FFFFFF;
}

.posted p{
  background-color: #D5FABA;
}

.flex-center-center{
  align-items: center;
  justify-content: center;
}

.container{
  width: 80%;
  min-width: 800px;
  height: 95%;
  background: white;
}

.template{
  display: none;
}

.chat_send .send{
  display: none;
}

.rec,
.send{
  cursor: pointer;
}

/* Sidebar */
#sidebar{
  width: 35%;
  height: 100%;
  flex-direction: column;
}

/* Sidebar --> Guest */
#guest{
  width: 100%;
  line-height: 35px;
  background-color: #EAEAEA;
  padding: 10px 15px;
  justify-content: space-between;
}


#guest img{
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(110,110,110,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(110,110,110,1);
  box-shadow: 0px 0px 3px 0px rgba(110,110,110,1);
}

#guest i{
  margin: 0 5px;
  cursor: pointer;
  color: #B1B1B1;
}

#guest i:hover{
  color: rgb(121, 121, 121);
}

/* Sidebar --> notify */
#notify{
  width: 100%;
  background-color: #8EDAFD;
  padding: 5px 20px;
}

#notify div:first-child{
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
  margin: 10px 10px 10px 0;
  cursor: pointer;
}

#notify div:first-child i{
  color: #8EDAFD;
}

#notify div:last-child{
  flex-direction: column;
}

#notify span{
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 2px;
}

#notify a{
  display: block;
  font-size: 11px;
  color: #4F7485;
}

/* Sidebar --> search */
#search{
  background: #FAFAFA;
  padding: 7px 10px;
}

#search .search_bar{
  background: white;
  border: 1px solid #EAEBEB;
}

#search .search_bar form{
  height: 25px;
}

#search .search_bar button{
  border: none;
  background: white;
  padding: 0 15px;
  height: 100%;
  color: #B1B1B1;
  cursor: pointer;
  outline: none;
}

#search .search_bar input{
  border: none;
  width: 90%;
  height: 100%;
  padding: 0 5px;
}

#search .search_bar input::placeholder{
  color: #B1B1B1;
  font-size: 12px;
}

/* Sidebar --> user */

#user{
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;
}

.user_name{
  width: 100%;
  height: 65px;
  /* background: #FFFFFF; */
  border-bottom: 1px solid #F5F5F5;
  padding: 0 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.user_name:hover{
  background: #EAEBEB;
}

.user_name img{
 width: 45px;
 border-radius: 50%;
 margin-right: 15px;
}

.user_name_text{
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #BCBEC0;
}

.user_name_text h5{
  font-size: 14px;
  color: black;
}

.user_name_text span{
  font-size: 13px;
  color: #BCBEC0;
}



/* Chat */
#chat{
  width: 65%;
  height: 100%;
  flex-direction: column;
}

/* Chat--> guest_chat */
#guest_chat{
  width: 100%;
  padding: 10px 15px;
  justify-content: space-between;
  border-left: 1px solid #D6D6D6;
}

#guest_chat img{
  width: 35px;
  border-radius: 50%;
  cursor: pointer; 
}

#guest_chat .last_access{
  height: 35px;
}

#guest_chat .last_access_info{
  height: 35px;
  margin-left: 10px; 
}

#guest_chat .last_access_info h5{
  color: black;
}

#guest_chat .last_access_info span{
  font-size: 11px;
  color: #6C7376;
}

#guest_chat i{
  margin: 0 6px;
  cursor: pointer;
  color: #B1B1B1;
}

#guest_chat i:hover{
  color: rgb(121, 121, 121);
}


/* Chat--> body_chat */
#body_chat{
  flex-grow: 1;
  overflow-y: scroll;
  background-image: url("../img/mine.jpg");
  padding-top: 30px;
}

#body_chat li{
  min-height: 70px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
}

#body_chat li p{
  position: relative;
  max-width: 300px;
  padding: 15px 40px 15px 20px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

#body_chat li .data_time{
  position: absolute;
  color: #B7B9BB;
  font-size: 9px;
  bottom: 5px;
  right: 5px;
  font-weight: 300;
  
}


/* Chat--> sending_chat */
#sending_chat{
  width: 100%;
  background: #F3EEEB;

}

#sending_chat .sending{
  width: 100%;
  height: 55px;
  justify-content: space-between;
}

#sending_chat .chat_emoticon{
  width: 10%;
  text-align: center;
}

#sending_chat .chat_field{
  width: 80%;
}

#sending_chat .chat_field input{
  width: 100%;
  height: 35px;
  padding: 0 10px;
  border: none;
  border-radius: 3px;
  outline: none;
}

#sending_chat .chat_field input:focus{
  border: 2px solid #6B9AF1;
}

#sending_chat .chat_send{
  width: 10%;
  text-align: center;
}

#sending_chat i{
  color: #6C7376;
  font-size: 20px;
  
}

#sending_chat i:hover{
  color: #535353;
}